h2{
    font-weight: bolder;
}

a{
    
    
    color: black;


}

a:hover{
    color: red;
    text-decoration: none;
}
#capital {
    color: black;
}
strong{
    color: black;

}
li{
    font-size: 16px;
}
.city_name h2{
    text-shadow: 2px 2px #000000;
}