{% extends "base.html"%}
{% load staticfiles %}


{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-6">

        {% if city.state %}
    <a href="/city_detail/"><h2>State: {{ city.name }}</h2></a>
{% endif %} 

<a href="/state_list/"><h1> County: {{ statecapital.name }}</h1></a>

    </div>
        </div>

<!-- Below is what is passed through the context -->
    <div class="row">
        <div class="col-md-6">
        <a href="/state_list/"><h1> City: {{cities.name}}</h1></a>
    </div>
        </div>







{%  endblock %}



</div>